<%= provide :title, t(".title") %>
<h2><%= t ".title" %></h2>
<p>
  <%= link_to t(".link1"), Settings.about.link1, target:"_blank" %>
  <%= link_to t(".link2"), Settings.about.link2 %>
  <%= link_to t(".link3"), Settings.about.link3 %>
  <%= link_to t(".link4"), Settings.about.link4 %>
</p>
