<%= provide :title, t(".title") %>
<h2><%= t ".title" %></h2>
<p>
  <%= link_to t("book.title"), Settings.book.link, target:"_blank" %>
  <%= link_to t("static_pages.about.screen"), Settings.about.screen %>
  <%= link_to t("static_pages.about.ruby_on_rails"), Settings.about.rubyonrails %>
</p>
