<!DOCTYPE html>
<html>
  <head>
    <title>SampleApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>
  <body>
    <ul>
      <%= content_tag :li do %>
      <%= link_to 'Switch to English', locale: :en %>
      <% end unless current_page?(locale: :en) %>

      <%= content_tag :li do %>
      <%= link_to 'Switch to Japanese', locale: :ja %>
      <% end unless current_page?(locale: :ja) %>
    </ul>
    <%= t :greetings %>
    <%= l Date.today %>
    <%= l Date.today, format: :short %>
    <%= yield %>
  </body>
</html>
